-
    var cars = [
        {
            name: 'PEUGEOT RCZ', 
            model: '2011', 
            mileage: '93.000Km',
            info: [
                'السيارة فابريكة بالكامل من الداخل والخارج',
                'صيانة توكيل'
                ],
            power: [
                'FOR SERIOUS BUYRRS ONLY',
                '',
                'All Services is Done',
                'فبريكه بالكامل من الداخل والخارج',
                'صيانات منتظمه من الزيرو',
                'صيانات توكيل',
            ],
            color: '#551A20', 
            img: 'car16.jpg',
            id: 16
        },
        {
            name: 'BMW X3', 
            model: '2016', 
            mileage: '150.000Km',
            info: [
                'السيارة فابريكة بالكامل من الداخل والخارج'
                ],
            power: [
                '',
                'السيارة بحالة المصنع فابريكه بالكامل من الداخل والخارج',
                '',
                '',
                'صيانات منتظمه من الزيرو بدون اي ملاحظات',
                ''
            ],
            color: '#000034', 
            img: 'car15.jpg',
            id: 15
        },
        {
            name: 'Mercedes C180', 
            model: '2019', 
            mileage: '35.000Km',
            info: [
                'السيارة فابريكة بالكامل من الداخل والخارج'
                ],
            power: [
                'Category :  Amg ',
                'Burmester sound',
                'Smart key',
                'With sun roof',
                'Panorama',
                'Camera 360'
            ],
            color: '#020403', 
            img: 'car14.jpg',
            id: 14
        },
        {
            name: 'BMW X6', 
            model: '2017', 
            mileage: '97.000Km',
            info: [
                'السيارة فابريكة بالكامل من الداخل والخارج'
                ],
            power: [
                'Category :  m sport ',
                'Electrical Bag',
                '',
                'With sun roof',
                'Panorama',
                'Camera 360'
            ],
            color: '#40484B', 
            img: 'car13.jpg',
            id: 13
        },
        {
            name: 'Mercedes E200', 
            model: '2017', 
            mileage: '8.000Km',
            info: [
                'الوحيدة في مصر',
                'السيارة فابريكة بالكامل من الداخل والخارج'
                ],
            power: [
                'Category :  Amg',
                'Electrical Bag',
                'Burmester sound',
                'With sun roof',
                'Panorama',
                'Camera 360'
            ],
            color: '#341012', 
            img: 'car12.jpg',
            id: 12
        },
        {
            name: 'Mercedes C180 coupa', 
            model: '2019', 
            mileage: '80.000Km',
            info: [
                'السيارة فابريكة بالكامل من الداخل والخارج'
                ],
            power: [
                'Category :  Amg',
                'Electrical Bag',
                'Burmester sound',
                'With sun roof',
                'Panorama',
                'Camera 360'
            ],
            color: '#885F40', 
            img: 'car11.jpg',
            id: 11
        },
        {
            name: 'Kia Certo', 
            model: '2021', 
            mileage: '35.000Km',
            info: [
                'السيارة فابريكة بالكامل من الداخل والخارج'
                ],
            power: [
                'Category : top line',
                'Electrical Bag',
                'Smart key',
                'With sun roof',
                'Carpet cover',
                'Camera 360'
            ],
            color: '#885F40', 
            img: 'car10.jpg',
            id: 10
        },
        {
            name: 'Mercedes C200', 
            model: '2019', 
            mileage: '79.000Km',
            info: [
                'جميع الصيانات منتظمة داخل التوكيل',
                'السيارة فابريكة بالكامل من الداخل والخارج'
                ],
            power: [
                'AMG. night packag',
                'Electrical Bag',
                'Smart key',
                'With sun roof',
                'Panorama',
                'Camera 360'
            ],
            color: '#020403', 
            img: 'car9.jpg',
            id: 9
        },
        {
            name: 'Mercedes E180', 
            model: '2018', 
            mileage: '44.000Km',
            info: [
                'جميع الصيانات منتظمة داخل التوكيل',
                'السيارة فابريكة بالكامل من الداخل والخارج'
                ],
            power: [
                'Category :  Aventgard',
                'Burmester sound',
                'Smart key',
                'With sun roof',
                'Panorama',
                'Camera 360'
            ],
            color: '#020403', 
            img: 'car7.jpg',
            id: 7
        },
        {
            name: 'BMW 528', 
            model: '2015', 
            mileage: '36.000Km',
            info: [
                'السيارة بحالة المصنع فابريكه بالكامل من الداخل والخارج',
                ],
            power: [
                '',
                'صيانات منتظمه من الزيرو بدون اي ملاحظات',
                '',
                '',
                'السيارة بحالة المصنع فابريكه بالكامل من الداخل والخارج',
                ''
            ],
            color: '#39322A', 
            img: 'car8.jpg',
            id: 8
        },
        {
            name: 'Opel insignia', 
            model: '2020', 
            mileage: '20.000Km',
            info: [
                'السيارة فبريكة بالكامل',
                'صيانات توكيل بالفواتير حاله ممتازه'
                ],
            power: [
                'Smart key',
                'Front and back sensor bark',
                'Camera ',
                'Memory chair',
                'All Services is done',
                ''
            ],
            color: '#885F40', 
            img: 'car3.jpg',
            id: 3
        },
        {
            name: 'Jeep Grand', 
            model: '2015', 
            mileage: '80.000Km',
            info: [
                'عروض التقسيط بمقدم 25% او 35%او50% علي حسب اثبات  الداخل ... '
            ],
            power: [
                'Jeep Grand',
                'Limited',
                'Model: 2015',
                'K:M 80.000',
                'حاله ممتازه جدا',
                'عروض التقسيط بمقدم 25% او 35%او50% علي حسب اثبات الداخل'
            ],
            color: '#363636', 
            img: 'car2.jpg',
            id: 2
        },
        {
            name: 'BMW. X5', 
            model: '2016', 
            mileage: '70.000Km',
            info: [
                'السيارة فابريكة بالكامل من الداخل والخارج جميع الصيانات في توكيل بالفواتير'
                ],
            power: [
                '335Hb',
                'V8',
                '4500cc TwinTurbo',
                'Smart key',
                'Panorami With sun roof',
                'Camera 360'
            ],
            color: '#000034', 
            img: 'car1.jpg',
            id: 1
        },
        {
            name: 'Mercedes C180 w204', 
            model: '2016', 
            mileage: '36.000Km',
            info: [
                'جميع الصيانات منتظمة داخل التوكيل'
                ],
            power: [
                'Category :  AMG',
                'White & Black',
                'Panorama With sun roof',
                'Sensors park',
                'Brumester sound system',
                'Smart key'
            ],
            color: '#6F6559', 
            img: 'car4.jpg',
            id: 4
        },
        {
            name: 'BMW X4', 
            model: '2016', 
            mileage: '100.000Km',
            info: [
                'جميع الصيانات منتظمة',
                'السيارة فابريكة بالكامل من الداخل والخارج'
                ],
            power: [
                'With sun roof',
                '',
                '',
                'Camera',
                'Smart key',
                ''
            ],
            color: '#40484B', 
            img: 'car5.jpg',
            id: 5
        },
        {
            name: 'Skoda Superb', 
            model: '2019', 
            mileage: '100.000Km',
            info: [
                    'السياراة فبريكة بالكامل من الداخل والخارج '
                ],
            power: [
                'Color: Mocha',
                'Category :  AMBITION',
                'Smart key',
                'Front and back sensor bark',
                'Panorama sun roof',
                ''
            ],
            color: '#5A6775', 
            img: 'car6.jpg',
            id: 6
        },
    ]