-
    var cars = [
        {
            name: 'BMW. X5', 
            model: '2016', 
            mileage: '70.000Km',
            info: [
                'السيارة فابريكة بالكامل من الداخل والخارج جميع الصيانات في توكيل بالفواتير'
                ],
            power: [
                '335Hb',
                'V8',
                '4500cc TwinTurbo',
                'Smart key',
                'Panorami With sun roof',
                'Camera 360'
            ],
            color: '#070711', 
            img: 'car1.jpg',
            id: 1
        },
        {
            name: 'Jeep Grand', 
            model: '2015', 
            mileage: '80.000Km',
            info: [
                'حاله ممتازه جدا',
                'عروض التقسيط بمقدم 25% او 35%او50% علي حسب اثبات  الداخل ... '
            ],
            power: [
                'Jeep Grand',
                'Limited',
                'Model: 2015',
                'K:M 80.000',
                'حاله ممتازه جدا',
                'عروض التقسيط بمقدم 25% او 35%او50% علي حسب اثبات الداخل'
            ],
            color: '#363636', 
            img: 'car2.jpg',
            id: 2
        },
        {
            name: 'Opel insignia', 
            model: '2020', 
            mileage: '20.000Km',
            info: [
                'السيارة فبريكة بالكامل',
                'صيانات توكيل بالفواتير حاله ممتازه'
                ],
            power: [
                'Smart key',
                'Front and back sensor bark',
                'Camera ',
                'Memory chair',
                'All Services is done',
                ''
            ],
            color: '#885F40', 
            img: 'car3.jpg',
            id: 3
        },
        {
            name: 'MG 6', 
            model: '2021', 
            mileage: '47.000Km',
            info: [
                'السيارة فبريكة بالكامل',
                'صيانات منتظمه من الزيرو فى التوكيل بالفواتير'
                ],
            power: [
                'Smart key ',
                'Front and back sensor bark',
                'With sun roof',
                'Camera ',
                'Memory chair',
                'Carpet cover'
            ],
            color: '#7F0206', 
            img: 'car4.jpg',
            id: 4
        },
        {
            name: 'Mercedes Benz C200', 
            model: '2008', 
            mileage: '160.000Km',
            info: [
                'السيارة فابريكة بالكامل من الداخل والخارج',
                'جنوط  AMG 18'
            ],
            power: [
                'Category :  Aventgard',
                'Smart key',
                'With sun roof',
                'Sensors park',
                'جميع الصيانات منتظمة',
                'جنوط AMG 18'
            ],
            color: '#61666A', 
            img: 'car5.jpg',
            id: 5
        },
        {
            name: 'MG HS Trohpy', 
            model: '2022', 
            mileage: '17.000Km',
            info: [
                'Front and back sensor bark',
                'With sun roof'
            ],
            power: [
                'Smart key',
                'Front and back sensor bark',
                'With sun roof',
                'Camera ',
                'Memory chair',
                'Carpet cover'
            ],
            color: '#8B7D74', 
            img: 'car6.jpg',
            id: 6
        }
    ]